PORT=5000

# LIVA ICS privés
LIVA_GOOGLE_ICS=https://calendar.google.com/calendar/ical/.../basic.ics
LIVA_AIRBNB_ICS=https://www.airbnb.fr/calendar/ical/41095534.ics?s=...
LIVA_BOOKING_ICS=https://ical.booking.com/v1/export?t=...

# BLOM ICS privés
BLOM_GOOGLE_ICS=https://calendar.google.com/calendar/ical/.../basic.ics
BLOM_AIRBNB_ICS=https://www.airbnb.fr/calendar/ical/985569147645507170.ics?s=...
BLOM_BOOKING_ICS=https://ical.booking.com/v1/export?t=...
